In [12]:
#BILANGAN 1 - 150
print("CETAK BILANGAN 1 - 150 -->")
bilangan = tuple (range(1, 151))
print (bilangan)
#BILANGAN 1 - 100
print("CETAK BILANGAN 1 - 150 -->")
bilangan = tuple (range(1, 101))
print (bilangan)

CETAK BILANGAN 1 - 150 -->
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150)
CETAK BILANGAN 1 - 150 -->
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)

In [2]:
print ("NOMOR 1. CARI TUPLE, LIST, DAN SET DARI BILANGAN 1-150")

#tuple
print ("data menggunakan class")
bilangan = tuple(range(1, 151))
print (type(bilangan))

#list
print ("data menggunakan class")
bilangan = list(range(1, 151))
print (type(bilangan))

#set
print ("data menggunakan class")
bilangan = set(range(1, 151))
print (type(bilangan))

NOMOR 1. CARI TUPLE, LIST, DAN SET DARI BILANGAN 1-150
data menggunakan tuple
<class 'tuple'>
data menggunakan list
<class 'list'>
data menggunakan set
<class 'set'>

In [15]:
print ("NOMOR 2. MENAMBAHKAN DATA PERTAMA DAN DATA KEDUA")

data_pertama = tuple(range(1, 151))
print ("data pertama = " ,data_pertama)
data_kedua = tuple(range(1, 101))
print ("data kedua =" , data_kedua)
kedua_data = (data_pertama + data_kedua)
print ("total kedua data adalah =" ,kedua_data)

NOMOR 2. MENAMBAHKAN DATA PERTAMA DAN DATA KEDUA
data pertama =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150)
data kedua = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)
total kedua data adalah = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)

In [16]:
print ("NOMOR 3. LEN BILANGAN ANGKA")
print("Jumlah data pertama = %d" % len (data_pertama))   #len berfungsi untuk menjumlahkan item
print("Jumlah data kedua = %d" %len (data_kedua))
print ("Hasil penjumlahan data pertama dan data kedua adalah %d " %len(kedua_data))

NOMOR 3. LEN BILANGAN ANGKA
Jumlah data pertama = 150
Jumlah data kedua = 100
Hasil penjumlahan data pertama dan data kedua adalah 250

In [17]:
print ("NOMOR 4. PEMOTONGAN PADA (1:15) & (2:100)")
print ("pemotongan pada (2 : 100)")
print(data_kedua[1 : 15])
print ("pemotongan pada (2 : 100)")
print(data_kedua[2 : 100])

NOMOR 4. PEMOTONGAN PADA (1:15) & (2:100)
pemotongan pada (2 : 100)
(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
pemotongan pada (2 : 100)
(3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)

In [2]:
print ("NOMOR 5. MENGAKSES NILAI INDEKS KE 35 , 69, 75")
print(data_kedua[35])  #indeks ini berfungsi untuk mencari item setelahnya
print(data_kedua[69])
print(data_kedua[75])

 NOMOR 5. AKSES NILAI INDEKS KE 35 , 69, 75
36
70
76

In [3]:
print ("NOMOR 6. MENCARI SUMMATION POWERSETS")
print("jumlah data ada --> ")
print(sum(kedua_data)) #sum berfungsi menjumlahkan semua data atau item

NOMOR 6. MENCARI SUMMATION POWERSETS
jumlah data ada -->
16125